@import "tailwindcss";

@layer base {
  html {
    color: var(--color-slate-gray);
    background-color: var(--color-navy-blue);
  }
  h3 {
    @apply text-2xl;
  }

  h1 {
    @apply font-bold text-6xl;
  }
}

@theme {
  --color-purple-bg: rgb(29, 24, 54);
  --color-navy-blue: #0a192f;
  --color-slate-gray: #ccd6f6;
  --color-green-bright: #64ffda;
}
